.vs/
x64/
x86/
Debug/
Release/
bin/
build/
Build/

CMakeFiles/
CMakeCache.txt
cmake_install.cmake

*.exe
*.obj
*.o
*.pdb
*.ilk
*.lib
*.dll

*.user
*.suo
*.VC.db
*.VC.opendb

*.log
*.tmp

.DS_Store
Thumbs.db